In [4]:
import pandas as pd

In [6]:
data = pd.read_csv('../DataSet/Social_Network_Ads.csv')
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [7]:
data.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [8]:
data.shape

(400, 5)

In [9]:
gender_dummy = pd.get_dummies( data['Gender'] )
print( gender_dummy.head() )

   Female  Male
0       0     1
1       0     1
2       1     0
3       1     0
4       0     1

In [10]:
data = pd.concat( [ data, gender_dummy ], axis = 'columns' )
print( data.head() )

    User ID  Gender  Age  EstimatedSalary  Purchased  Female  Male
0  15624510    Male   19            19000          0       0     1
1  15810944    Male   35            20000          0       0     1
2  15668575  Female   26            43000          0       1     0
3  15603246  Female   27            57000          0       1     0
4  15804002    Male   19            76000          0       0     1

In [11]:
final_data = data.drop( ['Gender'], axis = 'columns' )
final_data.head()

    User ID  Age  EstimatedSalary  Purchased  Female  Male
0  15624510   19            19000          0       0     1
1  15810944   35            20000          0       0     1
2  15668575   26            43000          0       1     0
3  15603246   27            57000          0       1     0
4  15804002   19            76000          0       0     1

In [12]:
y = final_data[ 'EstimatedSalary' ]
x = final_data.drop( 'EstimatedSalary', axis = 'columns' )

In [13]:
print(x.head())
print()
print(y.head())

    User ID  Age  Purchased  Female  Male
0  15624510   19          0       0     1
1  15810944   35          0       0     1
2  15668575   26          0       1     0
3  15603246   27          0       1     0
4  15804002   19          0       0     1

0    19000
1    20000
2    43000
3    57000
4    76000
Name: EstimatedSalary, dtype: int64

In [14]:
from sklearn.linear_model import LinearRegression

In [15]:
regression = LinearRegression()
print( f"regression = {regression}" )

regression = LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
regression.fit( x, y )

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [17]:
y_pred = regression.predict( x )
y_pred

array([62060.76725238, 61849.85774228, 64119.97410429, 61663.87702933,
       67756.75754307, 62305.84571748, 61498.79701745, 93408.92297313,
       59003.5163082 , 62537.35118748, 61016.20331578, 62142.91723768,
       65537.58614452, 59636.2729374 , 62585.31394613, 60553.43277918,
       85562.51465523, 82634.55066312, 85015.65970325, 84941.47415302,
       83650.19575735, 88995.31218109, 84569.47964633, 85392.11318461,
       85032.47869716, 82302.67629685, 86666.85543268, 85719.44817758,
       62039.94623486, 58898.03052836, 56090.9087116 , 96409.76646524,
       63016.09453287, 66786.35514024, 62181.60730024, 58746.27735748,
       62125.19134411, 59908.32880647, 64221.23714118, 67362.02522867,
       66778.53307596, 59006.60080059, 60639.3344564 , 63163.69267779,
       64844.49122504, 60997.58328158, 65295.56539611, 67157.08737463,
       91876.32339428, 66179.52160299, 65705.24432391, 70217.97291992,
       65393.82142517, 60771.16642371, 63303.09425609, 64268.99744624,
       68663.94371108, 64420.61170884, 61495.02918137, 65647.29529316,
       65010.56207512, 61321.49100787, 62938.28217643, 86540.258864  ,
       49465.14460497, 63115.07839271, 61899.31900495, 64824.51647594,
       62751.38542798, 59880.68144962, 63965.34164794, 66719.55659221,
       64090.08285016, 65055.56782564, 56078.57971715, 87941.85155827,
       66322.46265796, 69003.00546261, 63312.50301791, 63693.0889986 ,
       56940.95053835, 55794.09823344, 64374.12430763, 58685.1577683 ,
       66716.25413384, 92811.61103944, 62381.23078127, 62190.61265652,
       63959.5181134 , 57766.45989366, 62825.18946163, 61568.0235673 ,
       65260.83223241, 63945.64258201, 66728.99566965, 61970.26548731,
       61996.16039113, 88034.32641829, 54384.44582484, 66154.43697866,
       63496.37661438, 57614.72649015, 59155.67138889, 92426.83617725,
       66912.19931324, 66916.4735516 , 65313.48799255, 64244.47276971,
       62440.31868843, 60458.25273844, 59041.37908313, 59641.75440682,
       54630.5891502 , 59894.03017958, 56891.21918251, 56072.86476935,
       57672.17832594, 54500.95667049, 54596.85525138, 56093.7294874 ,
       64829.63689942, 58865.9136427 , 60530.95451048, 54340.36736723,
       58680.15081241, 60044.29886311, 52817.88099628, 63211.10461856,
       60966.11658732, 68039.97384042, 59073.48754214, 62308.03323259,
       61058.20851244, 65095.01738142, 67526.64474368, 59053.21238426,
       66415.41982641, 90600.45990378, 61508.04710952, 65760.43816835,
       67880.74208871, 67106.33211162, 55699.50074454, 62878.75353387,
       59604.8012849 , 67356.26658036, 97101.09058266, 60932.05542659,
       63161.20191723, 66227.22836255, 64471.45934296, 52103.40731637,
       59837.06986545, 58720.02629446, 53410.06896067, 60350.85166415,
       57010.02967585, 57528.77472992, 63762.41854519, 90362.81277316,
       91636.66788894, 61226.28915557, 57716.55081577, 60164.56281901,
       62359.57830446, 64332.68961292, 68623.75301702, 58967.78946964,
       94230.55448728, 60153.34026376, 60104.93968967, 54616.27855674,
       68121.18102043, 58298.02892635, 60285.90707017, 63550.27141693,
       58803.59800838, 58813.17607151, 58864.0935501 , 62357.29416916,
       61317.98405173, 65573.84741869, 93391.75490576, 56026.9958256 ,
       64310.96240489, 63504.53082139, 68189.28420626, 58344.75752344,
       57510.62078259, 61490.90164028, 63507.84950132, 66594.09819077,
       63152.28467707, 63279.0653562 , 60684.5736853 , 57688.44233029,
       64805.52122433, 66787.94467444, 63206.37625989, 58590.27325552,
       56060.9187098 , 53227.96049297, 92020.48081021, 62842.9787398 ,
       82374.44786193, 59189.03431939, 83312.71078097, 58161.47135373,
       93711.0590817 , 57376.47074115, 88224.4465615 , 83711.07485981,
       52720.92101765, 56969.77905971, 51273.68931218, 85374.19405067,
       50937.62606441, 52671.90553193, 56400.68348909, 80938.68337009,
       62210.99711032, 87913.62385448, 88154.26169397, 76136.08277373,
       57703.98488043, 55093.44504367, 95063.05373842, 80575.69563801,
       59495.95170628, 90410.15628188, 95415.18987766, 56621.33886198,
       90757.44421239, 80998.1880736 , 57964.28154783, 83163.79327242,
       55162.2273182 , 62614.40051077, 54852.13015966, 87818.23435183,
       86450.79731097, 58329.97446062, 89236.79061569, 86590.77993947,
       55786.90305328, 86997.05561705, 59703.25551257, 86398.04343492,
       57005.31895707, 94109.30606974, 61717.23163964, 58304.98432898,
       90470.00438553, 87987.28678087, 56693.14216101, 87502.49776327,
       56505.39143254, 59413.05349106, 79479.5182034 , 92251.56531219,
       65198.75070232, 88083.66987507, 83902.67665963, 63818.45077985,
       80942.95548687, 92959.31281287, 57099.61674635, 53795.87553084,
       89294.97587816, 52705.8925932 , 57996.25173031, 82858.02531608,
       82408.55201401, 84042.65165395, 83771.39259616, 81529.41157274,
       58269.17221096, 85771.5137458 , 83153.61368255, 88573.93185211,
       80366.81497918, 57870.16644476, 89917.65387007, 84747.76869923,
       51403.81402271, 92742.33369743, 58717.34442104, 89411.74059542,
       54434.2342661 , 92099.75292839, 83957.22385849, 80437.60783334,
       79056.16336115, 59485.39209558, 57440.18054772, 62106.26097873,
       85562.31015746, 89528.69784387, 53731.42104018, 86363.08325273,
       84771.34489715, 83412.5550033 , 92316.59101396, 86336.35059045,
       56521.27462949, 58426.82506003, 52495.16852856, 88906.86966031,
       85423.53971826, 59011.27978542, 59557.83220111, 85094.1878465 ,
       61599.6277456 , 88772.09486225, 61633.43991556, 87552.75308388,
       84114.13619514, 57848.74602799, 86592.47247042, 55518.63273757,
       88290.00748545, 82712.81288487, 55216.88869381, 84890.12862069,
       83486.91678576, 59235.84402426, 56458.70165515, 61692.79720672,
       91757.31895142, 85911.27990996, 56966.55699996, 83946.04358543,
       57866.78429693, 52834.09775429, 84292.99440905, 58163.5079999 ,
       79161.18580746, 55551.33492842, 64037.93758657, 86464.30117077,
       81979.40954874, 60767.7300212 , 61079.06401726, 85599.11303628,
       85436.37220094, 59905.4938533 , 80505.64400545, 87310.82399149,
       52964.28664188, 57873.22770726, 94465.05846104, 54113.11983664,
       86170.8812671 , 62502.09405901, 88687.63042603, 76540.91278364,
       84293.55081694, 58464.96289228, 83167.09573079, 55939.93054043,
       82132.10772982, 88032.66065714, 89988.96564744, 61157.22331966,
       84956.73117501, 86645.56754172, 79629.65152447, 83957.84018846,
       59710.90906211, 82760.30238761, 80039.74866104, 81880.84814674,
       57913.84007851, 80170.84869738, 63884.26628458, 86500.97640463,
       54189.11272633, 62170.23449598, 82907.27365432, 85183.37851388,
       55133.09484224, 83171.8212528 , 89473.36934613, 83963.63057072,
       87391.66516732, 83431.4021334 , 87829.24745107, 54487.77015021,
       83609.1947838 , 86446.86930941, 87526.41744465, 81078.09487079,
       90136.59269556, 77474.55734909, 61967.75708687, 87953.50279904,
       83148.1307948 , 85229.5542489 , 59692.15500637, 83700.374851  ])

In [18]:
regression.score( x , y )

0.1461421385178191

In [19]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [20]:
label_encode_data = data
label_encode_data.Gender = le.fit_transform( label_encode_data.Gender )
print( label_encode_data )

      User ID  Gender  Age  EstimatedSalary  Purchased  Female  Male
0    15624510       1   19            19000          0       0     1
1    15810944       1   35            20000          0       0     1
2    15668575       0   26            43000          0       1     0
3    15603246       0   27            57000          0       1     0
4    15804002       1   19            76000          0       0     1
..        ...     ...  ...              ...        ...     ...   ...
395  15691863       0   46            41000          1       1     0
396  15706071       1   51            23000          1       0     1
397  15654296       0   50            20000          1       1     0
398  15755018       1   36            33000          0       0     1
399  15594041       0   49            36000          1       1     0

[400 rows x 7 columns]