In [1]:
import pandas as pd

In [3]:
pds1 = pd.Series( data = list( range(1, 10, 2) ), index = ['one', 'three', 'five', 'seven', 'nine'] )

pds2 = pd.Series( data = list( range(10, 20, 2) ), index = [ 'ten', 'twelve', 'forteen', 'sixteen', 'eighteen' ] )

pds3 = pd.Series( data = list( range(20, 30, 2) ), index = ['twenty', 'twentytwo', 'twentyfour', 'twentysix', 'twentyeight' ] )

pds4 = pd.Series( data = list( range(1, 10, 1) ), index = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine'] )

pds5 = pd.Series( data = list( range(10, 20, 1) ), index = [ 'ten', 'eleven', 'twelve', 'thirteen', 'forteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen' ] )

pds6 = pd.Series( data = list( range(20, 30, 1) ), index = ['twenty', 'twentyone', 'twentytwo', 'twentythree', 'twentyfour', 'twentyfive', 'twentysix', 'twentyseven', 'twentyeight',  'twentynine' ] )

d = { 'Series1' : pds1, 'Series2' : pds2, 'Series3' : pds3, 'Series4' : pds4, 'Series5' : pds5, 'Series6' : pds6  }
pddf = pd.DataFrame( d )

In [4]:
print( pddf )

             Series1  Series2  Series3  Series4  Series5  Series6
eight            NaN      NaN      NaN      8.0      NaN      NaN
eighteen         NaN     18.0      NaN      NaN     18.0      NaN
eleven           NaN      NaN      NaN      NaN     11.0      NaN
fifteen          NaN      NaN      NaN      NaN     15.0      NaN
five             5.0      NaN      NaN      5.0      NaN      NaN
forteen          NaN     14.0      NaN      NaN     14.0      NaN
four             NaN      NaN      NaN      4.0      NaN      NaN
nine             9.0      NaN      NaN      9.0      NaN      NaN
nineteen         NaN      NaN      NaN      NaN     19.0      NaN
one              1.0      NaN      NaN      1.0      NaN      NaN
seven            7.0      NaN      NaN      7.0      NaN      NaN
seventeen        NaN      NaN      NaN      NaN     17.0      NaN
six              NaN      NaN      NaN      6.0      NaN      NaN
sixteen          NaN     16.0      NaN      NaN     16.0      NaN
ten              NaN     10.0      NaN      NaN     10.0      NaN
thirteen         NaN      NaN      NaN      NaN     13.0      NaN
three            3.0      NaN      NaN      3.0      NaN      NaN
twelve           NaN     12.0      NaN      NaN     12.0      NaN
twenty           NaN      NaN     20.0      NaN      NaN     20.0
twentyeight      NaN      NaN     28.0      NaN      NaN     28.0
twentyfive       NaN      NaN      NaN      NaN      NaN     25.0
twentyfour       NaN      NaN     24.0      NaN      NaN     24.0
twentynine       NaN      NaN      NaN      NaN      NaN     29.0
twentyone        NaN      NaN      NaN      NaN      NaN     21.0
twentyseven      NaN      NaN      NaN      NaN      NaN     27.0
twentysix        NaN      NaN     26.0      NaN      NaN     26.0
twentythree      NaN      NaN      NaN      NaN      NaN     23.0
twentytwo        NaN      NaN     22.0      NaN      NaN     22.0
two              NaN      NaN      NaN      2.0      NaN      NaN

In [6]:
print( pddf[ 2 : 4 ] )

         Series1  Series2  Series3  Series4  Series5  Series6
eleven       NaN      NaN      NaN      NaN     11.0      NaN
fifteen      NaN      NaN      NaN      NaN     15.0      NaN

In [7]:
print( pddf['Series1'] )

eight          NaN
eighteen       NaN
eleven         NaN
fifteen        NaN
five           5.0
forteen        NaN
four           NaN
nine           9.0
nineteen       NaN
one            1.0
seven          7.0
seventeen      NaN
six            NaN
sixteen        NaN
ten            NaN
thirteen       NaN
three          3.0
twelve         NaN
twenty         NaN
twentyeight    NaN
twentyfive     NaN
twentyfour     NaN
twentynine     NaN
twentyone      NaN
twentyseven    NaN
twentysix      NaN
twentythree    NaN
twentytwo      NaN
two            NaN
Name: Series1, dtype: float64

In [8]:
print( pddf['Series2'] )

eight           NaN
eighteen       18.0
eleven          NaN
fifteen         NaN
five            NaN
forteen        14.0
four            NaN
nine            NaN
nineteen        NaN
one             NaN
seven           NaN
seventeen       NaN
six             NaN
sixteen        16.0
ten            10.0
thirteen        NaN
three           NaN
twelve         12.0
twenty          NaN
twentyeight     NaN
twentyfive      NaN
twentyfour      NaN
twentynine      NaN
twentyone       NaN
twentyseven     NaN
twentysix       NaN
twentythree     NaN
twentytwo       NaN
two             NaN
Name: Series2, dtype: float64

In [11]:
print( f"pddf[ 'Series1' ].index = { pddf[ 'Series1' ].index }" )
print()
print()
print( f"pddf[ 'Series2' ].index = { pddf[ 'Series2' ].index }" )
print()
print()
print( f"pddf.index = { pddf.index }" )
print()
print( len( pddf[ 'Series1' ].index ) )
print()
print( len( pddf[ 'Series2' ].index ) )
print()
print( len( pddf.index ) )

pddf[ 'Series1' ].index = Index(['eight', 'eighteen', 'eleven', 'fifteen', 'five', 'forteen', 'four',
       'nine', 'nineteen', 'one', 'seven', 'seventeen', 'six', 'sixteen',
       'ten', 'thirteen', 'three', 'twelve', 'twenty', 'twentyeight',
       'twentyfive', 'twentyfour', 'twentynine', 'twentyone', 'twentyseven',
       'twentysix', 'twentythree', 'twentytwo', 'two'],
      dtype='object')


pddf[ 'Series2' ].index = Index(['eight', 'eighteen', 'eleven', 'fifteen', 'five', 'forteen', 'four',
       'nine', 'nineteen', 'one', 'seven', 'seventeen', 'six', 'sixteen',
       'ten', 'thirteen', 'three', 'twelve', 'twenty', 'twentyeight',
       'twentyfive', 'twentyfour', 'twentynine', 'twentyone', 'twentyseven',
       'twentysix', 'twentythree', 'twentytwo', 'two'],
      dtype='object')


pddf.index = Index(['eight', 'eighteen', 'eleven', 'fifteen', 'five', 'forteen', 'four',
       'nine', 'nineteen', 'one', 'seven', 'seventeen', 'six', 'sixteen',
       'ten', 'thirteen', 'three', 'twelve', 'twenty', 'twentyeight',
       'twentyfive', 'twentyfour', 'twentynine', 'twentyone', 'twentyseven',
       'twentysix', 'twentythree', 'twentytwo', 'two'],
      dtype='object')

29

29

29

In [18]:
print( pddf['Series1'][0] )
print()
print( pddf['Series1']['eight'] )
print()
print( pddf['Series1'][4] )
print()
print( pddf['Series1']['five'] )

nan

nan

5.0

5.0

In [24]:
pddf

             Series1  Series2  Series3  Series4  Series5  Series6
eight            NaN      NaN      NaN      8.0      NaN      NaN
eighteen         NaN     18.0      NaN      NaN     18.0      NaN
eleven           NaN      NaN      NaN      NaN     11.0      NaN
fifteen          NaN      NaN      NaN      NaN     15.0      NaN
five             5.0      NaN      NaN      5.0      NaN      NaN
forteen          NaN     14.0      NaN      NaN     14.0      NaN
four             NaN      NaN      NaN      4.0      NaN      NaN
nine             9.0      NaN      NaN      9.0      NaN      NaN
nineteen         NaN      NaN      NaN      NaN     19.0      NaN
one              1.0      NaN      NaN      1.0      NaN      NaN
seven            7.0      NaN      NaN      7.0      NaN      NaN
seventeen        NaN      NaN      NaN      NaN     17.0      NaN
six              NaN      NaN      NaN      6.0      NaN      NaN
sixteen          NaN     16.0      NaN      NaN     16.0      NaN
ten              NaN     10.0      NaN      NaN     10.0      NaN
thirteen         NaN      NaN      NaN      NaN     13.0      NaN
three            3.0      NaN      NaN      3.0      NaN      NaN
twelve           NaN     12.0      NaN      NaN     12.0      NaN
twenty           NaN      NaN     20.0      NaN      NaN     20.0
twentyeight      NaN      NaN     28.0      NaN      NaN     28.0
twentyfive       NaN      NaN      NaN      NaN      NaN     25.0
twentyfour       NaN      NaN     24.0      NaN      NaN     24.0
twentynine       NaN      NaN      NaN      NaN      NaN     29.0
twentyone        NaN      NaN      NaN      NaN      NaN     21.0
twentyseven      NaN      NaN      NaN      NaN      NaN     27.0
twentysix        NaN      NaN     26.0      NaN      NaN     26.0
twentythree      NaN      NaN      NaN      NaN      NaN     23.0
twentytwo        NaN      NaN     22.0      NaN      NaN     22.0
two              NaN      NaN      NaN      2.0      NaN      NaN

In [25]:
#Arithmetic Addition

for i in range( len( pddf['Series1'].index ) ):    #0,1, 2, ..., 28
    
    print( f"pddf['Series1'][{i}] = { pddf['Series1'][i] }", end = ', ' )
    print( f"pddf['Series2'][{i}] = { pddf['Series2'][i] }", end = ', ' )
    print( f"pddf['Series1'][{i}] + pddf['Series2'][{i}] = { pddf['Series1'][i] + pddf['Series2'][i] }" )
    print()

pddf['Series1'][0] = nan, pddf['Series2'][0] = nan, pddf['Series1'][0] + pddf['Series2'][0] = nan

pddf['Series1'][1] = nan, pddf['Series2'][1] = 18.0, pddf['Series1'][1] + pddf['Series2'][1] = nan

pddf['Series1'][2] = nan, pddf['Series2'][2] = nan, pddf['Series1'][2] + pddf['Series2'][2] = nan

pddf['Series1'][3] = nan, pddf['Series2'][3] = nan, pddf['Series1'][3] + pddf['Series2'][3] = nan

pddf['Series1'][4] = 5.0, pddf['Series2'][4] = nan, pddf['Series1'][4] + pddf['Series2'][4] = nan

pddf['Series1'][5] = nan, pddf['Series2'][5] = 14.0, pddf['Series1'][5] + pddf['Series2'][5] = nan

pddf['Series1'][6] = nan, pddf['Series2'][6] = nan, pddf['Series1'][6] + pddf['Series2'][6] = nan

pddf['Series1'][7] = 9.0, pddf['Series2'][7] = nan, pddf['Series1'][7] + pddf['Series2'][7] = nan

pddf['Series1'][8] = nan, pddf['Series2'][8] = nan, pddf['Series1'][8] + pddf['Series2'][8] = nan

pddf['Series1'][9] = 1.0, pddf['Series2'][9] = nan, pddf['Series1'][9] + pddf['Series2'][9] = nan

pddf['Series1'][10] = 7.0, pddf['Series2'][10] = nan, pddf['Series1'][10] + pddf['Series2'][10] = nan

pddf['Series1'][11] = nan, pddf['Series2'][11] = nan, pddf['Series1'][11] + pddf['Series2'][11] = nan

pddf['Series1'][12] = nan, pddf['Series2'][12] = nan, pddf['Series1'][12] + pddf['Series2'][12] = nan

pddf['Series1'][13] = nan, pddf['Series2'][13] = 16.0, pddf['Series1'][13] + pddf['Series2'][13] = nan

pddf['Series1'][14] = nan, pddf['Series2'][14] = 10.0, pddf['Series1'][14] + pddf['Series2'][14] = nan

pddf['Series1'][15] = nan, pddf['Series2'][15] = nan, pddf['Series1'][15] + pddf['Series2'][15] = nan

pddf['Series1'][16] = 3.0, pddf['Series2'][16] = nan, pddf['Series1'][16] + pddf['Series2'][16] = nan

pddf['Series1'][17] = nan, pddf['Series2'][17] = 12.0, pddf['Series1'][17] + pddf['Series2'][17] = nan

pddf['Series1'][18] = nan, pddf['Series2'][18] = nan, pddf['Series1'][18] + pddf['Series2'][18] = nan

pddf['Series1'][19] = nan, pddf['Series2'][19] = nan, pddf['Series1'][19] + pddf['Series2'][19] = nan

pddf['Series1'][20] = nan, pddf['Series2'][20] = nan, pddf['Series1'][20] + pddf['Series2'][20] = nan

pddf['Series1'][21] = nan, pddf['Series2'][21] = nan, pddf['Series1'][21] + pddf['Series2'][21] = nan

pddf['Series1'][22] = nan, pddf['Series2'][22] = nan, pddf['Series1'][22] + pddf['Series2'][22] = nan

pddf['Series1'][23] = nan, pddf['Series2'][23] = nan, pddf['Series1'][23] + pddf['Series2'][23] = nan

pddf['Series1'][24] = nan, pddf['Series2'][24] = nan, pddf['Series1'][24] + pddf['Series2'][24] = nan

pddf['Series1'][25] = nan, pddf['Series2'][25] = nan, pddf['Series1'][25] + pddf['Series2'][25] = nan

pddf['Series1'][26] = nan, pddf['Series2'][26] = nan, pddf['Series1'][26] + pddf['Series2'][26] = nan

pddf['Series1'][27] = nan, pddf['Series2'][27] = nan, pddf['Series1'][27] + pddf['Series2'][27] = nan

pddf['Series1'][28] = nan, pddf['Series2'][28] = nan, pddf['Series1'][28] + pddf['Series2'][28] = nan

In [26]:
#Arithmetic Multiplication

for i in range( len( pddf['Series1'] ) ):
    
    print( f"pddf['Series1'][{i}] = { pddf['Series1'][i] }", end = ', ' )
    print( f"pddf['Series2'][{i}] = { pddf['Series2'][i] }", end = ', ' )
    print( f"pddf['Series1'][{i}] * pddf['Series2'][{i}] = { pddf['Series1'][i] * pddf['Series2'][i] }" )
    print()

pddf['Series1'][0] = nan, pddf['Series2'][0] = nan, pddf['Series1'][0] * pddf['Series2'][0] = nan

pddf['Series1'][1] = nan, pddf['Series2'][1] = 18.0, pddf['Series1'][1] * pddf['Series2'][1] = nan

pddf['Series1'][2] = nan, pddf['Series2'][2] = nan, pddf['Series1'][2] * pddf['Series2'][2] = nan

pddf['Series1'][3] = nan, pddf['Series2'][3] = nan, pddf['Series1'][3] * pddf['Series2'][3] = nan

pddf['Series1'][4] = 5.0, pddf['Series2'][4] = nan, pddf['Series1'][4] * pddf['Series2'][4] = nan

pddf['Series1'][5] = nan, pddf['Series2'][5] = 14.0, pddf['Series1'][5] * pddf['Series2'][5] = nan

pddf['Series1'][6] = nan, pddf['Series2'][6] = nan, pddf['Series1'][6] * pddf['Series2'][6] = nan

pddf['Series1'][7] = 9.0, pddf['Series2'][7] = nan, pddf['Series1'][7] * pddf['Series2'][7] = nan

pddf['Series1'][8] = nan, pddf['Series2'][8] = nan, pddf['Series1'][8] * pddf['Series2'][8] = nan

pddf['Series1'][9] = 1.0, pddf['Series2'][9] = nan, pddf['Series1'][9] * pddf['Series2'][9] = nan

pddf['Series1'][10] = 7.0, pddf['Series2'][10] = nan, pddf['Series1'][10] * pddf['Series2'][10] = nan

pddf['Series1'][11] = nan, pddf['Series2'][11] = nan, pddf['Series1'][11] * pddf['Series2'][11] = nan

pddf['Series1'][12] = nan, pddf['Series2'][12] = nan, pddf['Series1'][12] * pddf['Series2'][12] = nan

pddf['Series1'][13] = nan, pddf['Series2'][13] = 16.0, pddf['Series1'][13] * pddf['Series2'][13] = nan

pddf['Series1'][14] = nan, pddf['Series2'][14] = 10.0, pddf['Series1'][14] * pddf['Series2'][14] = nan

pddf['Series1'][15] = nan, pddf['Series2'][15] = nan, pddf['Series1'][15] * pddf['Series2'][15] = nan

pddf['Series1'][16] = 3.0, pddf['Series2'][16] = nan, pddf['Series1'][16] * pddf['Series2'][16] = nan

pddf['Series1'][17] = nan, pddf['Series2'][17] = 12.0, pddf['Series1'][17] * pddf['Series2'][17] = nan

pddf['Series1'][18] = nan, pddf['Series2'][18] = nan, pddf['Series1'][18] * pddf['Series2'][18] = nan

pddf['Series1'][19] = nan, pddf['Series2'][19] = nan, pddf['Series1'][19] * pddf['Series2'][19] = nan

pddf['Series1'][20] = nan, pddf['Series2'][20] = nan, pddf['Series1'][20] * pddf['Series2'][20] = nan

pddf['Series1'][21] = nan, pddf['Series2'][21] = nan, pddf['Series1'][21] * pddf['Series2'][21] = nan

pddf['Series1'][22] = nan, pddf['Series2'][22] = nan, pddf['Series1'][22] * pddf['Series2'][22] = nan

pddf['Series1'][23] = nan, pddf['Series2'][23] = nan, pddf['Series1'][23] * pddf['Series2'][23] = nan

pddf['Series1'][24] = nan, pddf['Series2'][24] = nan, pddf['Series1'][24] * pddf['Series2'][24] = nan

pddf['Series1'][25] = nan, pddf['Series2'][25] = nan, pddf['Series1'][25] * pddf['Series2'][25] = nan

pddf['Series1'][26] = nan, pddf['Series2'][26] = nan, pddf['Series1'][26] * pddf['Series2'][26] = nan

pddf['Series1'][27] = nan, pddf['Series2'][27] = nan, pddf['Series1'][27] * pddf['Series2'][27] = nan

pddf['Series1'][28] = nan, pddf['Series2'][28] = nan, pddf['Series1'][28] * pddf['Series2'][28] = nan

In [27]:
#Arithmetic Division

for i in range( len( pddf['Series1'] ) ):
    
    print( f"pddf['Series1'][{i}] = { pddf['Series1'][i] }", end = ', ' )
    print( f"pddf['Series2'][{i}] = { pddf['Series2'][i] }", end = ', ' )
    print( f"pddf['Series1'][{i}] / pddf['Series2'][{i}] = { pddf['Series1'][i] / pddf['Series2'][i] }" )
    print()

pddf['Series1'][0] = nan, pddf['Series2'][0] = nan, pddf['Series1'][0] / pddf['Series2'][0] = nan

pddf['Series1'][1] = nan, pddf['Series2'][1] = 18.0, pddf['Series1'][1] / pddf['Series2'][1] = nan

pddf['Series1'][2] = nan, pddf['Series2'][2] = nan, pddf['Series1'][2] / pddf['Series2'][2] = nan

pddf['Series1'][3] = nan, pddf['Series2'][3] = nan, pddf['Series1'][3] / pddf['Series2'][3] = nan

pddf['Series1'][4] = 5.0, pddf['Series2'][4] = nan, pddf['Series1'][4] / pddf['Series2'][4] = nan

pddf['Series1'][5] = nan, pddf['Series2'][5] = 14.0, pddf['Series1'][5] / pddf['Series2'][5] = nan

pddf['Series1'][6] = nan, pddf['Series2'][6] = nan, pddf['Series1'][6] / pddf['Series2'][6] = nan

pddf['Series1'][7] = 9.0, pddf['Series2'][7] = nan, pddf['Series1'][7] / pddf['Series2'][7] = nan

pddf['Series1'][8] = nan, pddf['Series2'][8] = nan, pddf['Series1'][8] / pddf['Series2'][8] = nan

pddf['Series1'][9] = 1.0, pddf['Series2'][9] = nan, pddf['Series1'][9] / pddf['Series2'][9] = nan

pddf['Series1'][10] = 7.0, pddf['Series2'][10] = nan, pddf['Series1'][10] / pddf['Series2'][10] = nan

pddf['Series1'][11] = nan, pddf['Series2'][11] = nan, pddf['Series1'][11] / pddf['Series2'][11] = nan

pddf['Series1'][12] = nan, pddf['Series2'][12] = nan, pddf['Series1'][12] / pddf['Series2'][12] = nan

pddf['Series1'][13] = nan, pddf['Series2'][13] = 16.0, pddf['Series1'][13] / pddf['Series2'][13] = nan

pddf['Series1'][14] = nan, pddf['Series2'][14] = 10.0, pddf['Series1'][14] / pddf['Series2'][14] = nan

pddf['Series1'][15] = nan, pddf['Series2'][15] = nan, pddf['Series1'][15] / pddf['Series2'][15] = nan

pddf['Series1'][16] = 3.0, pddf['Series2'][16] = nan, pddf['Series1'][16] / pddf['Series2'][16] = nan

pddf['Series1'][17] = nan, pddf['Series2'][17] = 12.0, pddf['Series1'][17] / pddf['Series2'][17] = nan

pddf['Series1'][18] = nan, pddf['Series2'][18] = nan, pddf['Series1'][18] / pddf['Series2'][18] = nan

pddf['Series1'][19] = nan, pddf['Series2'][19] = nan, pddf['Series1'][19] / pddf['Series2'][19] = nan

pddf['Series1'][20] = nan, pddf['Series2'][20] = nan, pddf['Series1'][20] / pddf['Series2'][20] = nan

pddf['Series1'][21] = nan, pddf['Series2'][21] = nan, pddf['Series1'][21] / pddf['Series2'][21] = nan

pddf['Series1'][22] = nan, pddf['Series2'][22] = nan, pddf['Series1'][22] / pddf['Series2'][22] = nan

pddf['Series1'][23] = nan, pddf['Series2'][23] = nan, pddf['Series1'][23] / pddf['Series2'][23] = nan

pddf['Series1'][24] = nan, pddf['Series2'][24] = nan, pddf['Series1'][24] / pddf['Series2'][24] = nan

pddf['Series1'][25] = nan, pddf['Series2'][25] = nan, pddf['Series1'][25] / pddf['Series2'][25] = nan

pddf['Series1'][26] = nan, pddf['Series2'][26] = nan, pddf['Series1'][26] / pddf['Series2'][26] = nan

pddf['Series1'][27] = nan, pddf['Series2'][27] = nan, pddf['Series1'][27] / pddf['Series2'][27] = nan

pddf['Series1'][28] = nan, pddf['Series2'][28] = nan, pddf['Series1'][28] / pddf['Series2'][28] = nan

In [28]:
#Comparision Operator

print( pddf['Series1'] )
print()
print( pddf['Series1'] > 4 )

eight          NaN
eighteen       NaN
eleven         NaN
fifteen        NaN
five           5.0
forteen        NaN
four           NaN
nine           9.0
nineteen       NaN
one            1.0
seven          7.0
seventeen      NaN
six            NaN
sixteen        NaN
ten            NaN
thirteen       NaN
three          3.0
twelve         NaN
twenty         NaN
twentyeight    NaN
twentyfive     NaN
twentyfour     NaN
twentynine     NaN
twentyone      NaN
twentyseven    NaN
twentysix      NaN
twentythree    NaN
twentytwo      NaN
two            NaN
Name: Series1, dtype: float64

eight          False
eighteen       False
eleven         False
fifteen        False
five            True
forteen        False
four           False
nine            True
nineteen       False
one            False
seven           True
seventeen      False
six            False
sixteen        False
ten            False
thirteen       False
three          False
twelve         False
twenty         False
twentyeight    False
twentyfive     False
twentyfour     False
twentynine     False
twentyone      False
twentyseven    False
twentysix      False
twentythree    False
twentytwo      False
two            False
Name: Series1, dtype: bool

In [30]:
#Comparision Operator

print( pddf['Series1'] < 4 )

eight          False
eighteen       False
eleven         False
fifteen        False
five           False
forteen        False
four           False
nine           False
nineteen       False
one             True
seven          False
seventeen      False
six            False
sixteen        False
ten            False
thirteen       False
three           True
twelve         False
twenty         False
twentyeight    False
twentyfive     False
twentyfour     False
twentynine     False
twentyone      False
twentyseven    False
twentysix      False
twentythree    False
twentytwo      False
two            False
Name: Series1, dtype: bool

In [31]:
l1 = [200, 9000, 12, 67]
l2 = [2000, 900, 120, 670]

s1 = pd.Series( data = l1, index = ['one', 'two', 'three', 'four'] )
s2 = pd.Series( data = l2, index = ['one', 'two', 'three', 'four'] )

d2 = { 's1' : s1, 's2' : s2 }

pddf2 = pd.DataFrame( d2 )

In [32]:
print(pddf2)

         s1    s2
one     200  2000
two    9000   900
three    12   120
four     67   670

In [36]:
#Addition
'''
for i in range( len( pddf2['s1'] ) ):    #0, 1, 2, 3
    
    print( f"pddf2['s1'][{i}] = { pddf2['s1'][i] }", end = ', ' )
    print( f"pddf2['s2'][{i}] = { pddf2['s2'][i] }", end = ', ' )
    print( f"pddf2['s1'][{i}] + pddf2['s2'][{i}] = { pddf2['s1'][i] + pddf2['s2'][i] }" )
    print()
'''
          
#We can get the final answer by,

print( pddf2['s1'] + pddf2['s2'] )

one      2200
two      9900
three     132
four      737
dtype: int64

In [37]:
#Substraction

for i in range( len( pddf2['s1'] ) ):
    print( f"pddf2['s1'][{i}] = { pddf2['s1'][i] }", end = ', ' )
    print( f"pddf2['s2'][{i}] = { pddf2['s2'][i] }", end = ', ' )
    print( f"pddf2['s1'][{i}] - pddf2['s2'][{i}] = { pddf2['s1'][i] - pddf2['s2'][i] }" )
    print()

#We can get the final answer by,

print( pddf2['s1'] - pddf2['s2'] )

pddf2['s1'][0] = 200, pddf2['s2'][0] = 2000, pddf2['s1'][0] - pddf2['s2'][0] = -1800

pddf2['s1'][1] = 9000, pddf2['s2'][1] = 900, pddf2['s1'][1] - pddf2['s2'][1] = 8100

pddf2['s1'][2] = 12, pddf2['s2'][2] = 120, pddf2['s1'][2] - pddf2['s2'][2] = -108

pddf2['s1'][3] = 67, pddf2['s2'][3] = 670, pddf2['s1'][3] - pddf2['s2'][3] = -603

one     -1800
two      8100
three    -108
four     -603
dtype: int64

In [39]:
pddf

             Series1  Series2  Series3  Series4  Series5  Series6
eight            NaN      NaN      NaN      8.0      NaN      NaN
eighteen         NaN     18.0      NaN      NaN     18.0      NaN
eleven           NaN      NaN      NaN      NaN     11.0      NaN
fifteen          NaN      NaN      NaN      NaN     15.0      NaN
five             5.0      NaN      NaN      5.0      NaN      NaN
forteen          NaN     14.0      NaN      NaN     14.0      NaN
four             NaN      NaN      NaN      4.0      NaN      NaN
nine             9.0      NaN      NaN      9.0      NaN      NaN
nineteen         NaN      NaN      NaN      NaN     19.0      NaN
one              1.0      NaN      NaN      1.0      NaN      NaN
seven            7.0      NaN      NaN      7.0      NaN      NaN
seventeen        NaN      NaN      NaN      NaN     17.0      NaN
six              NaN      NaN      NaN      6.0      NaN      NaN
sixteen          NaN     16.0      NaN      NaN     16.0      NaN
ten              NaN     10.0      NaN      NaN     10.0      NaN
thirteen         NaN      NaN      NaN      NaN     13.0      NaN
three            3.0      NaN      NaN      3.0      NaN      NaN
twelve           NaN     12.0      NaN      NaN     12.0      NaN
twenty           NaN      NaN     20.0      NaN      NaN     20.0
twentyeight      NaN      NaN     28.0      NaN      NaN     28.0
twentyfive       NaN      NaN      NaN      NaN      NaN     25.0
twentyfour       NaN      NaN     24.0      NaN      NaN     24.0
twentynine       NaN      NaN      NaN      NaN      NaN     29.0
twentyone        NaN      NaN      NaN      NaN      NaN     21.0
twentyseven      NaN      NaN      NaN      NaN      NaN     27.0
twentysix        NaN      NaN     26.0      NaN      NaN     26.0
twentythree      NaN      NaN      NaN      NaN      NaN     23.0
twentytwo        NaN      NaN     22.0      NaN      NaN     22.0
two              NaN      NaN      NaN      2.0      NaN      NaN

In [55]:
a = pddf['Series1'] > 4
print(a)
print()
pddf['Series1'][a]

eight          False
eighteen       False
eleven         False
fifteen        False
five            True
forteen        False
four           False
nine            True
nineteen       False
one            False
seven           True
seventeen      False
six            False
sixteen        False
ten            False
thirteen       False
three          False
twelve         False
twenty         False
twentyeight    False
twentyfive     False
twentyfour     False
twentynine     False
twentyone      False
twentyseven    False
twentysix      False
twentythree    False
twentytwo      False
two            False
Name: Series1, dtype: bool

five     5.0
nine     9.0
seven    7.0
Name: Series1, dtype: float64

In [56]:
pddf['Series2'][ a ]

five    NaN
nine    NaN
seven   NaN
Name: Series2, dtype: float64

In [57]:
a = pddf['Series2']>4
print(a)

pddf['Series2'][ a ]

eight          False
eighteen        True
eleven         False
fifteen        False
five           False
forteen         True
four           False
nine           False
nineteen       False
one            False
seven          False
seventeen      False
six            False
sixteen         True
ten             True
thirteen       False
three          False
twelve          True
twenty         False
twentyeight    False
twentyfive     False
twentyfour     False
twentynine     False
twentyone      False
twentyseven    False
twentysix      False
twentythree    False
twentytwo      False
two            False
Name: Series2, dtype: bool

eighteen    18.0
forteen     14.0
sixteen     16.0
ten         10.0
twelve      12.0
Name: Series2, dtype: float64

In [58]:
pddf['Series1'][ a ]

eighteen   NaN
forteen    NaN
sixteen    NaN
ten        NaN
twelve     NaN
Name: Series1, dtype: float64