In [4]:
'''
1) Data Deletion -> pop( index ), del
2) Data Insertion   -> a) Direct Method,  b) join()
3) Slicing of DataFrames
'''
import pandas as pd

In [6]:
pds1 = pd.Series( data = list( range(1, 10, 2) ), index = ['one', 'three', 'five', 'seven', 'nine'] )

pds2 = pd.Series( data = list( range(10, 20, 2) ), index = [ 'ten', 'twelve', 'forteen', 'sixteen', 'eighteen' ] )

pds3 = pd.Series( data = list( range(20, 30, 2) ), index = ['twenty', 'twentytwo', 'twentyfour', 'twentysix', 'twentyeight' ] )

pds3 = pd.Series( data = list( range(20, 30, 2) ), index = ['twenty', 'twentytwo', 'twentyfour', 'twentysix', 'twentyeight' ] )

pds5 = pd.Series( data = list( range(10, 20, 1) ), index = [ 'ten', 'eleven', 'twelve', 'thirteen', 'forteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen' ] )

pds6 = pd.Series( data = list( range(20, 30, 1) ), index = ['twenty', 'twentyone', 'twentytwo', 'twentythree', 'twentyfour', 'twentyfive', 'twentysix', 'twentyseven', 'twentyeight',  'twentynine' ] )

d = { 'Series1' : pds1, 'Series2' : pds2, 'Series3' : pds3, 'Series4' : pds4, 'Series5' : pds5, 'Series6' : pds6  }
pddf = pd.DataFrame( d )

In [7]:
print( pddf )

             Series1  Series2  Series3  Series4  Series5  Series6
eight            NaN      NaN      NaN      8.0      NaN      NaN
eighteen         NaN     18.0      NaN      NaN     18.0      NaN
eleven           NaN      NaN      NaN      NaN     11.0      NaN
fifteen          NaN      NaN      NaN      NaN     15.0      NaN
five             5.0      NaN      NaN      5.0      NaN      NaN
forteen          NaN     14.0      NaN      NaN     14.0      NaN
four             NaN      NaN      NaN      4.0      NaN      NaN
nine             9.0      NaN      NaN      9.0      NaN      NaN
nineteen         NaN      NaN      NaN      NaN     19.0      NaN
one              1.0      NaN      NaN      1.0      NaN      NaN
seven            7.0      NaN      NaN      7.0      NaN      NaN
seventeen        NaN      NaN      NaN      NaN     17.0      NaN
six              NaN      NaN      NaN      6.0      NaN      NaN
sixteen          NaN     16.0      NaN      NaN     16.0      NaN
ten              NaN     10.0      NaN      NaN     10.0      NaN
thirteen         NaN      NaN      NaN      NaN     13.0      NaN
three            3.0      NaN      NaN      3.0      NaN      NaN
twelve           NaN     12.0      NaN      NaN     12.0      NaN
twenty           NaN      NaN     20.0      NaN      NaN     20.0
twentyeight      NaN      NaN     28.0      NaN      NaN     28.0
twentyfive       NaN      NaN      NaN      NaN      NaN     25.0
twentyfour       NaN      NaN     24.0      NaN      NaN     24.0
twentynine       NaN      NaN      NaN      NaN      NaN     29.0
twentyone        NaN      NaN      NaN      NaN      NaN     21.0
twentyseven      NaN      NaN      NaN      NaN      NaN     27.0
twentysix        NaN      NaN     26.0      NaN      NaN     26.0
twentythree      NaN      NaN      NaN      NaN      NaN     23.0
twentytwo        NaN      NaN     22.0      NaN      NaN     22.0
two              NaN      NaN      NaN      2.0      NaN      NaN

In [79]:
#Data Deletion

s6 = pddf.pop('Series6')     #pop will do the action, Update the DataFrame and returns value
print( s6 )

eight           NaN
eighteen        NaN
eleven          NaN
fifteen         NaN
five            NaN
forteen         NaN
four            NaN
nine            NaN
nineteen        NaN
one             NaN
seven           NaN
seventeen       NaN
six             NaN
sixteen         NaN
ten             NaN
thirteen        NaN
three           NaN
twelve          NaN
twenty         20.0
twentyeight    28.0
twentyfive     25.0
twentyfour     24.0
twentynine     29.0
twentyone      21.0
twentyseven    27.0
twentysix      26.0
twentythree    23.0
twentytwo      22.0
two             NaN
Name: Series6, dtype: float64

In [80]:
print( pddf )

             Series1  Series2  Series3  Series4  Series5
eight            NaN      NaN      NaN      8.0      NaN
eighteen         NaN     18.0      NaN      NaN     18.0
eleven           NaN      NaN      NaN      NaN     11.0
fifteen          NaN      NaN      NaN      NaN     15.0
five             5.0      NaN      NaN      5.0      NaN
forteen          NaN     14.0      NaN      NaN     14.0
four             NaN      NaN      NaN      4.0      NaN
nine             9.0      NaN      NaN      9.0      NaN
nineteen         NaN      NaN      NaN      NaN     19.0
one              1.0      NaN      NaN      1.0      NaN
seven            7.0      NaN      NaN      7.0      NaN
seventeen        NaN      NaN      NaN      NaN     17.0
six              NaN      NaN      NaN      6.0      NaN
sixteen          NaN     16.0      NaN      NaN     16.0
ten              NaN     10.0      NaN      NaN     10.0
thirteen         NaN      NaN      NaN      NaN     13.0
three            3.0      NaN      NaN      3.0      NaN
twelve           NaN     12.0      NaN      NaN     12.0
twenty           NaN      NaN     20.0      NaN      NaN
twentyeight      NaN      NaN     28.0      NaN      NaN
twentyfive       NaN      NaN      NaN      NaN      NaN
twentyfour       NaN      NaN     24.0      NaN      NaN
twentynine       NaN      NaN      NaN      NaN      NaN
twentyone        NaN      NaN      NaN      NaN      NaN
twentyseven      NaN      NaN      NaN      NaN      NaN
twentysix        NaN      NaN     26.0      NaN      NaN
twentythree      NaN      NaN      NaN      NaN      NaN
twentytwo        NaN      NaN     22.0      NaN      NaN
two              NaN      NaN      NaN      2.0      NaN

In [81]:
del pddf['Series5']   #del will do the action, Update the DataFrame and does not return any value

In [82]:
print( pddf )

             Series1  Series2  Series3  Series4
eight            NaN      NaN      NaN      8.0
eighteen         NaN     18.0      NaN      NaN
eleven           NaN      NaN      NaN      NaN
fifteen          NaN      NaN      NaN      NaN
five             5.0      NaN      NaN      5.0
forteen          NaN     14.0      NaN      NaN
four             NaN      NaN      NaN      4.0
nine             9.0      NaN      NaN      9.0
nineteen         NaN      NaN      NaN      NaN
one              1.0      NaN      NaN      1.0
seven            7.0      NaN      NaN      7.0
seventeen        NaN      NaN      NaN      NaN
six              NaN      NaN      NaN      6.0
sixteen          NaN     16.0      NaN      NaN
ten              NaN     10.0      NaN      NaN
thirteen         NaN      NaN      NaN      NaN
three            3.0      NaN      NaN      3.0
twelve           NaN     12.0      NaN      NaN
twenty           NaN      NaN     20.0      NaN
twentyeight      NaN      NaN     28.0      NaN
twentyfive       NaN      NaN      NaN      NaN
twentyfour       NaN      NaN     24.0      NaN
twentynine       NaN      NaN      NaN      NaN
twentyone        NaN      NaN      NaN      NaN
twentyseven      NaN      NaN      NaN      NaN
twentysix        NaN      NaN     26.0      NaN
twentythree      NaN      NaN      NaN      NaN
twentytwo        NaN      NaN     22.0      NaN
two              NaN      NaN      NaN      2.0

In [83]:
#Data Insertion - we are going to insert series1 data + 2.

print( pddf['Series1'] )

eight          NaN
eighteen       NaN
eleven         NaN
fifteen        NaN
five           5.0
forteen        NaN
four           NaN
nine           9.0
nineteen       NaN
one            1.0
seven          7.0
seventeen      NaN
six            NaN
sixteen        NaN
ten            NaN
thirteen       NaN
three          3.0
twelve         NaN
twenty         NaN
twentyeight    NaN
twentyfive     NaN
twentyfour     NaN
twentynine     NaN
twentyone      NaN
twentyseven    NaN
twentysix      NaN
twentythree    NaN
twentytwo      NaN
two            NaN
Name: Series1, dtype: float64

In [87]:
'''
There are 3 method to add data in existing DataFrame.
1) Direct Method, -> dataframe[ key/ new_col ] = panda Series

pddf['Series5'] = pddf['Series1'] + 2
'''
pddf['Series5'] = pddf['Series1'] + 2


'''
2) insert method - location + key(col_name) + data( panda Series )

Syntax :- dataframe.insert( location, 'key', panda series )


print( f"type( pddf['Series1'] ) = {type( pddf['Series1'] )}" )
'''
pddf.insert(2, 'Series6', pddf['Series1'] + 4)

In [88]:
pddf

             Series1  Series2  Series6  Series3  Series4  Series5
eight            NaN      NaN      NaN      NaN      8.0      NaN
eighteen         NaN     18.0      NaN      NaN      NaN      NaN
eleven           NaN      NaN      NaN      NaN      NaN      NaN
fifteen          NaN      NaN      NaN      NaN      NaN      NaN
five             5.0      NaN      9.0      NaN      5.0      7.0
forteen          NaN     14.0      NaN      NaN      NaN      NaN
four             NaN      NaN      NaN      NaN      4.0      NaN
nine             9.0      NaN     13.0      NaN      9.0     11.0
nineteen         NaN      NaN      NaN      NaN      NaN      NaN
one              1.0      NaN      5.0      NaN      1.0      3.0
seven            7.0      NaN     11.0      NaN      7.0      9.0
seventeen        NaN      NaN      NaN      NaN      NaN      NaN
six              NaN      NaN      NaN      NaN      6.0      NaN
sixteen          NaN     16.0      NaN      NaN      NaN      NaN
ten              NaN     10.0      NaN      NaN      NaN      NaN
thirteen         NaN      NaN      NaN      NaN      NaN      NaN
three            3.0      NaN      7.0      NaN      3.0      5.0
twelve           NaN     12.0      NaN      NaN      NaN      NaN
twenty           NaN      NaN      NaN     20.0      NaN      NaN
twentyeight      NaN      NaN      NaN     28.0      NaN      NaN
twentyfive       NaN      NaN      NaN      NaN      NaN      NaN
twentyfour       NaN      NaN      NaN     24.0      NaN      NaN
twentynine       NaN      NaN      NaN      NaN      NaN      NaN
twentyone        NaN      NaN      NaN      NaN      NaN      NaN
twentyseven      NaN      NaN      NaN      NaN      NaN      NaN
twentysix        NaN      NaN      NaN     26.0      NaN      NaN
twentythree      NaN      NaN      NaN      NaN      NaN      NaN
twentytwo        NaN      NaN      NaN     22.0      NaN      NaN
two              NaN      NaN      NaN      NaN      2.0      NaN

In [89]:
'''
3) join method - ( for join by default the location is last position in dataset )

DataFrame.append( Pandas Series )

Syntax :- dataframe.append( key, data )  -> Wrong. Append doesn't work with Panda Series.

DataFrame can only append other DataFrame not a Pandas Series.

Our Approach,

Step1 :- Data -> pddf['Series1']
Step2 :- Key -> 'Series7'

Step3 :- Dictionary( key : Data ) -> {'Series7' : pddf['Series1'] + 6 } -> Now this is Dictionary

Step 4 :- pd.DataFrame( Dictionary ) -> pd.DataFrame( 'Series7' : pddf['Series1'] + 6 ) ) -> Type Casting the Dictionary to make it Panda DataFrame.

Step5 :- join the dataFrame with another DataFrame. -> DataFrame1.join( DataFrame2 )

'''

"\n3) join method - ( for join by default the location is last position in dataset )\n\nDataFrame.append( Pandas Series )\n\nSyntax :- dataframe.append( key, data )  -> Wrong. Append doesn't work with Panda Series.\n\nDataFrame can only append other DataFrame not a Pandas Series.\n\nOur Approach,\n\nStep1 :- Data -> pddf['Series1']\nStep2 :- Key -> 'Series7'\n\nStep3 :- Dictionary( key : Data ) -> {'Series7' : pddf['Series1'] + 6 } -> Now this is Dictionary\n\nStep 4 :- pd.DataFrame( Dictionary ) -> pd.DataFrame( 'Series7' : pddf['Series1'] + 6 ) ) -> Type Casting the Dictionary to make it Panda DataFrame.\n\nStep5 :- join the dataFrame with another DataFrame. -> DataFrame1.join( DataFrame2 )\n\n"

In [90]:
Data = pddf['Series1']+6
print(Data)
print()
key = 'Series7'

d = { key : Data}
print(d)
print( f"type(d) = { type(d) }" )
print()
temp = pd.DataFrame( d )
print( f"type( temp ) = { type( temp ) }" )
pddf.join( temp )   #join() will do the action but not update pddf. So, we will have to save the action in pddf.

eight           NaN
eighteen        NaN
eleven          NaN
fifteen         NaN
five           11.0
forteen         NaN
four            NaN
nine           15.0
nineteen        NaN
one             7.0
seven          13.0
seventeen       NaN
six             NaN
sixteen         NaN
ten             NaN
thirteen        NaN
three           9.0
twelve          NaN
twenty          NaN
twentyeight     NaN
twentyfive      NaN
twentyfour      NaN
twentynine      NaN
twentyone       NaN
twentyseven     NaN
twentysix       NaN
twentythree     NaN
twentytwo       NaN
two             NaN
Name: Series1, dtype: float64

{'Series7': eight           NaN
eighteen        NaN
eleven          NaN
fifteen         NaN
five           11.0
forteen         NaN
four            NaN
nine           15.0
nineteen        NaN
one             7.0
seven          13.0
seventeen       NaN
six             NaN
sixteen         NaN
ten             NaN
thirteen        NaN
three           9.0
twelve          NaN
twenty          NaN
twentyeight     NaN
twentyfive      NaN
twentyfour      NaN
twentynine      NaN
twentyone       NaN
twentyseven     NaN
twentysix       NaN
twentythree     NaN
twentytwo       NaN
two             NaN
Name: Series1, dtype: float64}
type(d) = <class 'dict'>

type( temp ) = <class 'pandas.core.frame.DataFrame'>

             Series1  Series2  Series6  Series3  Series4  Series5  Series7
eight            NaN      NaN      NaN      NaN      8.0      NaN      NaN
eighteen         NaN     18.0      NaN      NaN      NaN      NaN      NaN
eleven           NaN      NaN      NaN      NaN      NaN      NaN      NaN
fifteen          NaN      NaN      NaN      NaN      NaN      NaN      NaN
five             5.0      NaN      9.0      NaN      5.0      7.0     11.0
forteen          NaN     14.0      NaN      NaN      NaN      NaN      NaN
four             NaN      NaN      NaN      NaN      4.0      NaN      NaN
nine             9.0      NaN     13.0      NaN      9.0     11.0     15.0
nineteen         NaN      NaN      NaN      NaN      NaN      NaN      NaN
one              1.0      NaN      5.0      NaN      1.0      3.0      7.0
seven            7.0      NaN     11.0      NaN      7.0      9.0     13.0
seventeen        NaN      NaN      NaN      NaN      NaN      NaN      NaN
six              NaN      NaN      NaN      NaN      6.0      NaN      NaN
sixteen          NaN     16.0      NaN      NaN      NaN      NaN      NaN
ten              NaN     10.0      NaN      NaN      NaN      NaN      NaN
thirteen         NaN      NaN      NaN      NaN      NaN      NaN      NaN
three            3.0      NaN      7.0      NaN      3.0      5.0      9.0
twelve           NaN     12.0      NaN      NaN      NaN      NaN      NaN
twenty           NaN      NaN      NaN     20.0      NaN      NaN      NaN
twentyeight      NaN      NaN      NaN     28.0      NaN      NaN      NaN
twentyfive       NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentyfour       NaN      NaN      NaN     24.0      NaN      NaN      NaN
twentynine       NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentyone        NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentyseven      NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentysix        NaN      NaN      NaN     26.0      NaN      NaN      NaN
twentythree      NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentytwo        NaN      NaN      NaN     22.0      NaN      NaN      NaN
two              NaN      NaN      NaN      NaN      2.0      NaN      NaN

In [91]:
pddf = pddf.join( temp )
pddf

             Series1  Series2  Series6  Series3  Series4  Series5  Series7
eight            NaN      NaN      NaN      NaN      8.0      NaN      NaN
eighteen         NaN     18.0      NaN      NaN      NaN      NaN      NaN
eleven           NaN      NaN      NaN      NaN      NaN      NaN      NaN
fifteen          NaN      NaN      NaN      NaN      NaN      NaN      NaN
five             5.0      NaN      9.0      NaN      5.0      7.0     11.0
forteen          NaN     14.0      NaN      NaN      NaN      NaN      NaN
four             NaN      NaN      NaN      NaN      4.0      NaN      NaN
nine             9.0      NaN     13.0      NaN      9.0     11.0     15.0
nineteen         NaN      NaN      NaN      NaN      NaN      NaN      NaN
one              1.0      NaN      5.0      NaN      1.0      3.0      7.0
seven            7.0      NaN     11.0      NaN      7.0      9.0     13.0
seventeen        NaN      NaN      NaN      NaN      NaN      NaN      NaN
six              NaN      NaN      NaN      NaN      6.0      NaN      NaN
sixteen          NaN     16.0      NaN      NaN      NaN      NaN      NaN
ten              NaN     10.0      NaN      NaN      NaN      NaN      NaN
thirteen         NaN      NaN      NaN      NaN      NaN      NaN      NaN
three            3.0      NaN      7.0      NaN      3.0      5.0      9.0
twelve           NaN     12.0      NaN      NaN      NaN      NaN      NaN
twenty           NaN      NaN      NaN     20.0      NaN      NaN      NaN
twentyeight      NaN      NaN      NaN     28.0      NaN      NaN      NaN
twentyfive       NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentyfour       NaN      NaN      NaN     24.0      NaN      NaN      NaN
twentynine       NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentyone        NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentyseven      NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentysix        NaN      NaN      NaN     26.0      NaN      NaN      NaN
twentythree      NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentytwo        NaN      NaN      NaN     22.0      NaN      NaN      NaN
two              NaN      NaN      NaN      NaN      2.0      NaN      NaN

In [92]:
pddf

             Series1  Series2  Series6  Series3  Series4  Series5  Series7
eight            NaN      NaN      NaN      NaN      8.0      NaN      NaN
eighteen         NaN     18.0      NaN      NaN      NaN      NaN      NaN
eleven           NaN      NaN      NaN      NaN      NaN      NaN      NaN
fifteen          NaN      NaN      NaN      NaN      NaN      NaN      NaN
five             5.0      NaN      9.0      NaN      5.0      7.0     11.0
forteen          NaN     14.0      NaN      NaN      NaN      NaN      NaN
four             NaN      NaN      NaN      NaN      4.0      NaN      NaN
nine             9.0      NaN     13.0      NaN      9.0     11.0     15.0
nineteen         NaN      NaN      NaN      NaN      NaN      NaN      NaN
one              1.0      NaN      5.0      NaN      1.0      3.0      7.0
seven            7.0      NaN     11.0      NaN      7.0      9.0     13.0
seventeen        NaN      NaN      NaN      NaN      NaN      NaN      NaN
six              NaN      NaN      NaN      NaN      6.0      NaN      NaN
sixteen          NaN     16.0      NaN      NaN      NaN      NaN      NaN
ten              NaN     10.0      NaN      NaN      NaN      NaN      NaN
thirteen         NaN      NaN      NaN      NaN      NaN      NaN      NaN
three            3.0      NaN      7.0      NaN      3.0      5.0      9.0
twelve           NaN     12.0      NaN      NaN      NaN      NaN      NaN
twenty           NaN      NaN      NaN     20.0      NaN      NaN      NaN
twentyeight      NaN      NaN      NaN     28.0      NaN      NaN      NaN
twentyfive       NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentyfour       NaN      NaN      NaN     24.0      NaN      NaN      NaN
twentynine       NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentyone        NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentyseven      NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentysix        NaN      NaN      NaN     26.0      NaN      NaN      NaN
twentythree      NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentytwo        NaN      NaN      NaN     22.0      NaN      NaN      NaN
two              NaN      NaN      NaN      NaN      2.0      NaN      NaN

In [93]:
print( pddf.head() )
#join() is like a concatination while adding DataFrames together.

          Series1  Series2  Series6  Series3  Series4  Series5  Series7
eight         NaN      NaN      NaN      NaN      8.0      NaN      NaN
eighteen      NaN     18.0      NaN      NaN      NaN      NaN      NaN
eleven        NaN      NaN      NaN      NaN      NaN      NaN      NaN
fifteen       NaN      NaN      NaN      NaN      NaN      NaN      NaN
five          5.0      NaN      9.0      NaN      5.0      7.0     11.0

In [94]:
#Slicing of DataFrame

print( pddf[ 'eight' : 'five' ] )
print()
print( pddf[ : 7 ] )
print()
print( pddf['Series1'] )
print()
print( f"len( pddf['Series1'] ) = {len( pddf['Series1'] )} " )
print()
print(f"len( pddf['Series1'] )//2 = {len( pddf['Series1'] )//2}")
print()
print( pddf['Series1'][ : len( pddf['Series1'] )//2 ] )

          Series1  Series2  Series6  Series3  Series4  Series5  Series7
eight         NaN      NaN      NaN      NaN      8.0      NaN      NaN
eighteen      NaN     18.0      NaN      NaN      NaN      NaN      NaN
eleven        NaN      NaN      NaN      NaN      NaN      NaN      NaN
fifteen       NaN      NaN      NaN      NaN      NaN      NaN      NaN
five          5.0      NaN      9.0      NaN      5.0      7.0     11.0

          Series1  Series2  Series6  Series3  Series4  Series5  Series7
eight         NaN      NaN      NaN      NaN      8.0      NaN      NaN
eighteen      NaN     18.0      NaN      NaN      NaN      NaN      NaN
eleven        NaN      NaN      NaN      NaN      NaN      NaN      NaN
fifteen       NaN      NaN      NaN      NaN      NaN      NaN      NaN
five          5.0      NaN      9.0      NaN      5.0      7.0     11.0
forteen       NaN     14.0      NaN      NaN      NaN      NaN      NaN
four          NaN      NaN      NaN      NaN      4.0      NaN      NaN

eight          NaN
eighteen       NaN
eleven         NaN
fifteen        NaN
five           5.0
forteen        NaN
four           NaN
nine           9.0
nineteen       NaN
one            1.0
seven          7.0
seventeen      NaN
six            NaN
sixteen        NaN
ten            NaN
thirteen       NaN
three          3.0
twelve         NaN
twenty         NaN
twentyeight    NaN
twentyfive     NaN
twentyfour     NaN
twentynine     NaN
twentyone      NaN
twentyseven    NaN
twentysix      NaN
twentythree    NaN
twentytwo      NaN
two            NaN
Name: Series1, dtype: float64

len( pddf['Series1'] ) = 29

len( pddf['Series1'] )//2 = 14

eight        NaN
eighteen     NaN
eleven       NaN
fifteen      NaN
five         5.0
forteen      NaN
four         NaN
nine         9.0
nineteen     NaN
one          1.0
seven        7.0
seventeen    NaN
six          NaN
sixteen      NaN
Name: Series1, dtype: float64

In [95]:
#We can store the sliced data as another column in DataFrame using direct method.
s1 = pddf['Series1']
print( s1 )
print()
pddf['halfofSeries1'] = s1[ : len( pddf['Series1'] ) // 2 ]
pddf

eight          NaN
eighteen       NaN
eleven         NaN
fifteen        NaN
five           5.0
forteen        NaN
four           NaN
nine           9.0
nineteen       NaN
one            1.0
seven          7.0
seventeen      NaN
six            NaN
sixteen        NaN
ten            NaN
thirteen       NaN
three          3.0
twelve         NaN
twenty         NaN
twentyeight    NaN
twentyfive     NaN
twentyfour     NaN
twentynine     NaN
twentyone      NaN
twentyseven    NaN
twentysix      NaN
twentythree    NaN
twentytwo      NaN
two            NaN
Name: Series1, dtype: float64

,Series1,Series2,Series6,Series3,Series4,Series5,Series7,halfofSeries1
eight,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN
eighteen,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN
eleven,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fifteen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
five,5.0,NaN,9.0,NaN,5.0,7.0,11.0,5.0
forteen,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN
four,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN
nine,9.0,NaN,13.0,NaN,9.0,11.0,15.0,9.0
nineteen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
one,1.0,NaN,5.0,NaN,1.0,3.0,7.0,1.0
seven,7.0,NaN,11.0,NaN,7.0,9.0,13.0,7.0
seventeen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
six,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN
sixteen,NaN,16.0,NaN,NaN,NaN,NaN,NaN,NaN
ten,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN
thirteen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
three,3.0,NaN,7.0,NaN,3.0,5.0,9.0,NaN
twelve,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN
twenty,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN
twentyeight,NaN,NaN,NaN,28.0,NaN,NaN,NaN,NaN
twentyfive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
twentyfour,NaN,NaN,NaN,24.0,NaN,NaN,NaN,NaN
twentynine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
twentyone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
twentyseven,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
twentysix,NaN,NaN,NaN,26.0,NaN,NaN,NaN,NaN
twentythree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
twentytwo,NaN,NaN,NaN,22.0,NaN,NaN,NaN,NaN
two,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN

In [96]:
#we can see that, half Series column has only half data of Series1 and after half data, everything is null.

In [98]:
temp = pddf.copy()

temp.pop( 'halfofSeries1' )

print( temp )

             Series1  Series2  Series6  Series3  Series4  Series5  Series7
eight            NaN      NaN      NaN      NaN      8.0      NaN      NaN
eighteen         NaN     18.0      NaN      NaN      NaN      NaN      NaN
eleven           NaN      NaN      NaN      NaN      NaN      NaN      NaN
fifteen          NaN      NaN      NaN      NaN      NaN      NaN      NaN
five             5.0      NaN      9.0      NaN      5.0      7.0     11.0
forteen          NaN     14.0      NaN      NaN      NaN      NaN      NaN
four             NaN      NaN      NaN      NaN      4.0      NaN      NaN
nine             9.0      NaN     13.0      NaN      9.0     11.0     15.0
nineteen         NaN      NaN      NaN      NaN      NaN      NaN      NaN
one              1.0      NaN      5.0      NaN      1.0      3.0      7.0
seven            7.0      NaN     11.0      NaN      7.0      9.0     13.0
seventeen        NaN      NaN      NaN      NaN      NaN      NaN      NaN
six              NaN      NaN      NaN      NaN      6.0      NaN      NaN
sixteen          NaN     16.0      NaN      NaN      NaN      NaN      NaN
ten              NaN     10.0      NaN      NaN      NaN      NaN      NaN
thirteen         NaN      NaN      NaN      NaN      NaN      NaN      NaN
three            3.0      NaN      7.0      NaN      3.0      5.0      9.0
twelve           NaN     12.0      NaN      NaN      NaN      NaN      NaN
twenty           NaN      NaN      NaN     20.0      NaN      NaN      NaN
twentyeight      NaN      NaN      NaN     28.0      NaN      NaN      NaN
twentyfive       NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentyfour       NaN      NaN      NaN     24.0      NaN      NaN      NaN
twentynine       NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentyone        NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentyseven      NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentysix        NaN      NaN      NaN     26.0      NaN      NaN      NaN
twentythree      NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentytwo        NaN      NaN      NaN     22.0      NaN      NaN      NaN
two              NaN      NaN      NaN      NaN      2.0      NaN      NaN

In [100]:
pddf

,Series1,Series2,Series6,Series3,Series4,Series5,Series7,halfofSeries1
eight,NaN,NaN,NaN,NaN,8.0,NaN,NaN,NaN
eighteen,NaN,18.0,NaN,NaN,NaN,NaN,NaN,NaN
eleven,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fifteen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
five,5.0,NaN,9.0,NaN,5.0,7.0,11.0,5.0
forteen,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN
four,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN
nine,9.0,NaN,13.0,NaN,9.0,11.0,15.0,9.0
nineteen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
one,1.0,NaN,5.0,NaN,1.0,3.0,7.0,1.0
seven,7.0,NaN,11.0,NaN,7.0,9.0,13.0,7.0
seventeen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
six,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN
sixteen,NaN,16.0,NaN,NaN,NaN,NaN,NaN,NaN
ten,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN
thirteen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
three,3.0,NaN,7.0,NaN,3.0,5.0,9.0,NaN
twelve,NaN,12.0,NaN,NaN,NaN,NaN,NaN,NaN
twenty,NaN,NaN,NaN,20.0,NaN,NaN,NaN,NaN
twentyeight,NaN,NaN,NaN,28.0,NaN,NaN,NaN,NaN
twentyfive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
twentyfour,NaN,NaN,NaN,24.0,NaN,NaN,NaN,NaN
twentynine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
twentyone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
twentyseven,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
twentysix,NaN,NaN,NaN,26.0,NaN,NaN,NaN,NaN
twentythree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
twentytwo,NaN,NaN,NaN,22.0,NaN,NaN,NaN,NaN
two,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN

In [103]:
temp

             Series1  Series2  Series6  Series3  Series4  Series5  Series7
eight            NaN      NaN      NaN      NaN      8.0      NaN      NaN
eighteen         NaN     18.0      NaN      NaN      NaN      NaN      NaN
eleven           NaN      NaN      NaN      NaN      NaN      NaN      NaN
fifteen          NaN      NaN      NaN      NaN      NaN      NaN      NaN
five             5.0      NaN      9.0      NaN      5.0      7.0     11.0
forteen          NaN     14.0      NaN      NaN      NaN      NaN      NaN
four             NaN      NaN      NaN      NaN      4.0      NaN      NaN
nine             9.0      NaN     13.0      NaN      9.0     11.0     15.0
nineteen         NaN      NaN      NaN      NaN      NaN      NaN      NaN
one              1.0      NaN      5.0      NaN      1.0      3.0      7.0
seven            7.0      NaN     11.0      NaN      7.0      9.0     13.0
seventeen        NaN      NaN      NaN      NaN      NaN      NaN      NaN
six              NaN      NaN      NaN      NaN      6.0      NaN      NaN
sixteen          NaN     16.0      NaN      NaN      NaN      NaN      NaN
ten              NaN     10.0      NaN      NaN      NaN      NaN      NaN
thirteen         NaN      NaN      NaN      NaN      NaN      NaN      NaN
three            3.0      NaN      7.0      NaN      3.0      5.0      9.0
twelve           NaN     12.0      NaN      NaN      NaN      NaN      NaN
twenty           NaN      NaN      NaN     20.0      NaN      NaN      NaN
twentyeight      NaN      NaN      NaN     28.0      NaN      NaN      NaN
twentyfive       NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentyfour       NaN      NaN      NaN     24.0      NaN      NaN      NaN
twentynine       NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentyone        NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentyseven      NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentysix        NaN      NaN      NaN     26.0      NaN      NaN      NaN
twentythree      NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentytwo        NaN      NaN      NaN     22.0      NaN      NaN      NaN
two              NaN      NaN      NaN      NaN      2.0      NaN      NaN

In [102]:
print( f"len( temp['Series6'] ) = { len( temp['Series6'] ) }" )
print( f"len( temp ) = { len( temp ) }" )
print()
print( temp[ 'eight' : 'nine' ] )
print()
print( temp['Series7'] )

len( temp['Series6'] ) = 29
len( temp ) = 29

          Series1  Series2  Series6  Series3  Series4  Series5  Series7
eight         NaN      NaN      NaN      NaN      8.0      NaN      NaN
eighteen      NaN     18.0      NaN      NaN      NaN      NaN      NaN
eleven        NaN      NaN      NaN      NaN      NaN      NaN      NaN
fifteen       NaN      NaN      NaN      NaN      NaN      NaN      NaN
five          5.0      NaN      9.0      NaN      5.0      7.0     11.0
forteen       NaN     14.0      NaN      NaN      NaN      NaN      NaN
four          NaN      NaN      NaN      NaN      4.0      NaN      NaN
nine          9.0      NaN     13.0      NaN      9.0     11.0     15.0

eight           NaN
eighteen        NaN
eleven          NaN
fifteen         NaN
five           11.0
forteen         NaN
four            NaN
nine           15.0
nineteen        NaN
one             7.0
seven          13.0
seventeen       NaN
six             NaN
sixteen         NaN
ten             NaN
thirteen        NaN
three           9.0
twelve          NaN
twenty          NaN
twentyeight     NaN
twentyfive      NaN
twentyfour      NaN
twentynine      NaN
twentyone       NaN
twentyseven     NaN
twentysix       NaN
twentythree     NaN
twentytwo       NaN
two             NaN
Name: Series7, dtype: float64

In [104]:
temp['Series6'].pop( 'nine' )
temp['Series6']

eight           NaN
eighteen        NaN
eleven          NaN
fifteen         NaN
five            9.0
forteen         NaN
four            NaN
nineteen        NaN
one             5.0
seven          11.0
seventeen       NaN
six             NaN
sixteen         NaN
ten             NaN
thirteen        NaN
three           7.0
twelve          NaN
twenty          NaN
twentyeight     NaN
twentyfive      NaN
twentyfour      NaN
twentynine      NaN
twentyone       NaN
twentyseven     NaN
twentysix       NaN
twentythree     NaN
twentytwo       NaN
two             NaN
Name: Series6, dtype: float64

In [107]:
temp

             Series1  Series2  Series6  Series3  Series4  Series5  Series7
eight            NaN      NaN      NaN      NaN      8.0      NaN      NaN
eighteen         NaN     18.0      NaN      NaN      NaN      NaN      NaN
eleven           NaN      NaN      NaN      NaN      NaN      NaN      NaN
fifteen          NaN      NaN      NaN      NaN      NaN      NaN      NaN
five             5.0      NaN      9.0      NaN      5.0      7.0     11.0
forteen          NaN     14.0      NaN      NaN      NaN      NaN      NaN
four             NaN      NaN      NaN      NaN      4.0      NaN      NaN
nine             9.0      NaN     13.0      NaN      9.0     11.0     15.0
nineteen         NaN      NaN      NaN      NaN      NaN      NaN      NaN
one              1.0      NaN      5.0      NaN      1.0      3.0      7.0
seven            7.0      NaN     11.0      NaN      7.0      9.0     13.0
seventeen        NaN      NaN      NaN      NaN      NaN      NaN      NaN
six              NaN      NaN      NaN      NaN      6.0      NaN      NaN
sixteen          NaN     16.0      NaN      NaN      NaN      NaN      NaN
ten              NaN     10.0      NaN      NaN      NaN      NaN      NaN
thirteen         NaN      NaN      NaN      NaN      NaN      NaN      NaN
three            3.0      NaN      7.0      NaN      3.0      5.0      9.0
twelve           NaN     12.0      NaN      NaN      NaN      NaN      NaN
twenty           NaN      NaN      NaN     20.0      NaN      NaN      NaN
twentyeight      NaN      NaN      NaN     28.0      NaN      NaN      NaN
twentyfive       NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentyfour       NaN      NaN      NaN     24.0      NaN      NaN      NaN
twentynine       NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentyone        NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentyseven      NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentysix        NaN      NaN      NaN     26.0      NaN      NaN      NaN
twentythree      NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentytwo        NaN      NaN      NaN     22.0      NaN      NaN      NaN
two              NaN      NaN      NaN      NaN      2.0      NaN      NaN

In [108]:
pddf.index

Index(['eight', 'eighteen', 'eleven', 'fifteen', 'five', 'forteen', 'four',
       'nine', 'nineteen', 'one', 'seven', 'seventeen', 'six', 'sixteen',
       'ten', 'thirteen', 'three', 'twelve', 'twenty', 'twentyeight',
       'twentyfive', 'twentyfour', 'twentynine', 'twentyone', 'twentyseven',
       'twentysix', 'twentythree', 'twentytwo', 'two'],
      dtype='object')

In [109]:
temp.index

Index(['eight', 'eighteen', 'eleven', 'fifteen', 'five', 'forteen', 'four',
       'nine', 'nineteen', 'one', 'seven', 'seventeen', 'six', 'sixteen',
       'ten', 'thirteen', 'three', 'twelve', 'twenty', 'twentyeight',
       'twentyfive', 'twentyfour', 'twentynine', 'twentyone', 'twentyseven',
       'twentysix', 'twentythree', 'twentytwo', 'two'],
      dtype='object')

In [110]:
temp

             Series1  Series2  Series6  Series3  Series4  Series5  Series7
eight            NaN      NaN      NaN      NaN      8.0      NaN      NaN
eighteen         NaN     18.0      NaN      NaN      NaN      NaN      NaN
eleven           NaN      NaN      NaN      NaN      NaN      NaN      NaN
fifteen          NaN      NaN      NaN      NaN      NaN      NaN      NaN
five             5.0      NaN      9.0      NaN      5.0      7.0     11.0
forteen          NaN     14.0      NaN      NaN      NaN      NaN      NaN
four             NaN      NaN      NaN      NaN      4.0      NaN      NaN
nine             9.0      NaN     13.0      NaN      9.0     11.0     15.0
nineteen         NaN      NaN      NaN      NaN      NaN      NaN      NaN
one              1.0      NaN      5.0      NaN      1.0      3.0      7.0
seven            7.0      NaN     11.0      NaN      7.0      9.0     13.0
seventeen        NaN      NaN      NaN      NaN      NaN      NaN      NaN
six              NaN      NaN      NaN      NaN      6.0      NaN      NaN
sixteen          NaN     16.0      NaN      NaN      NaN      NaN      NaN
ten              NaN     10.0      NaN      NaN      NaN      NaN      NaN
thirteen         NaN      NaN      NaN      NaN      NaN      NaN      NaN
three            3.0      NaN      7.0      NaN      3.0      5.0      9.0
twelve           NaN     12.0      NaN      NaN      NaN      NaN      NaN
twenty           NaN      NaN      NaN     20.0      NaN      NaN      NaN
twentyeight      NaN      NaN      NaN     28.0      NaN      NaN      NaN
twentyfive       NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentyfour       NaN      NaN      NaN     24.0      NaN      NaN      NaN
twentynine       NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentyone        NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentyseven      NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentysix        NaN      NaN      NaN     26.0      NaN      NaN      NaN
twentythree      NaN      NaN      NaN      NaN      NaN      NaN      NaN
twentytwo        NaN      NaN      NaN     22.0      NaN      NaN      NaN
two              NaN      NaN      NaN      NaN      2.0      NaN      NaN